.DS_Store
peda*
.gdb_history
node_modules/
__pycache__/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
output/

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# hw1
hw1/hw1

# hw2
hw2/sandbox
hw2/sandbox.so
hw2/sample